@using PortatilesAPI;

@inject swaggerClient swaggerClient;

@* Especifica la ruta en la que se mostrará esta página. *@
@page "/portatiles/reabastecer/crearpedido"

@* Inyectar el servicio que gestiona el estado de la pedido (debe ser añadido en Program.cs). *@
@inject ReabastecerPortatilStateContainer estadoPedido;
@* Se inyecta el servicio que gestiona la navegación entre páginas (debe ser añadido en Program.cs). *@
@inject NavigationManager Navigation;



<h3>Introduce los datos del Pedido</h3>
@* https://getbootstrap.com/docs/4.0/components/input-group/ *@
@* input-group permite personalizar los controles para introducir datos. *@
<div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-prepend">
            <span class="input-group-text">Dirección del almacén de entrega</span>
        </div>
        <textarea class="form-control" rows="4" cols="50" id="direccionAlmacen" @onchange="@((value)=>ActualizaDireccion(value))"/>
    </div>
    <div class="input-group-prepend">
        <input type="hidden" class="form-control" @bind="codEmpleado" id="codEmpleado" />
    </div>
    <div class="input-group-prepend">
        <span class="input-group-text" id="">Método de Pago</span>
        <select class="form-select" aria-label="Default select" id="selMetodoPago" @bind="metodoPagoSeleccionado">
            @foreach (string metodo in metodosPago)
            {
                <option value="@metodo" id="metodoPagoSeleccionado_@metodo" @onclick="@(() => ActualizarMetodoPago())">
                    @metodo
                </option>
            }
        </select>
    </div>
</div>
<!-- FIN INPUT-GROUP -->
<!-- TABLA CON LA LISTA DE PORTÁTILES -->
@* Flujo alternativo cuando no hay elementos que mostrar. *@
@if (Portatiles == null || Portatiles.Count() == 0)
{
    <br />
    <p><em>No hay portátiles que cumplan los criterios seleccionados.</em></p>
}
else
{  @* Flujo básico y alternativo cuando se filtra. *@
    <div class="mh-100 table-responsive">
        <table class="table table-condensed table-hover" id="TablaPortatiles">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Precio/Unidad</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var portatil in Portatiles)
                {
                    <tr id="PortatilData_@portatil.PortatilID">
                        <td>@portatil.Marca</td>
                        <td>@portatil.Modelo</td>
                        <td>@portatil.PrecioUnitario</td>
                        <td>
                            <input type="number" id="cantidad_@portatil.PortatilID" value="@portatil.Cantidad"
                            @onchange="@((value)=>ActualizaCantidad(portatil.PortatilID, value))" />
                        </td>
                        <td>@(portatil.PrecioUnitario * portatil.Cantidad)</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr><td /><td /><td />
                    <td align="right"><b>Precio Total: </b></td>
                    <td>@Portatiles.Sum(p => p.PrecioUnitario * p.Cantidad)</td>
                </tr>

                <tr>
                    <td colspan="2" align="left">
                        @* Botón para navegar introducción de datos. *@
                        <div class="col-md">
                            <div class="form-floating">
                                @*this button will be disabled if there are no laptops in the shopping cart*@
                                <button class="btn btn-primary" type="submit" id="Volver" @onclick="@(()=>Volver())">
                                    Volver
                                </button>
                            </div>
                        </div>
                    </td>
                    <td colspan="3" align="right">
                        @* Botón para navegar introducción de datos. *@
                        <div class="col-md">
                            <div class="form-floating">
                                @*this button will be disabled if there are no laptops in the shopping cart*@
                                <button class="btn btn-primary" type="submit" id="RealizarPedido" disabled="@completarButtonDisabled" @onclick="@(()=>CreatePedido())">
                                    Realizar Pedido
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- FIN TABLA CON LA LISTA DE PORTÁTILES -->
}
<div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-prepend">
            <span class="input-group-text">Comentarios</span>
        </div>
        <textarea class="form-control" rows="4" cols="50" id="comentarios" @onchange="@((value)=>ActualizaComentarios(value))" />
    </div>
</div>
@if (!mensajeError.Equals(""))
{
    <div class="card-header">
        @tituloError
    </div>
    <div class="alert alert-danger">
        @mensajeError
    </div>
}


@code {
    @* Se usa para almacenar el mensaje de error cuando lo hay. *@
    private string mensajeError = "";
    @* Es el título de la pantalla de error. *@
    private string tituloError = "Error";

    @* Se usa para controlar si el botón de realizar pedido está activo o no. *@
    private bool completarButtonDisabled = false;

    @* Se usa para guardar el código del empleado.*@
    private string codEmpleado = "Daniel.Tomas";

    @* Para la lista de portátil que se muestra en la tabla. *@
    private ICollection<LineaPedidoDTO> Portatiles { get; set; } =
                                                    new List<LineaPedidoDTO>();
    @* Lista con los métodos de pago extraída del tipo enumerado. *@
    private ICollection<string> metodosPago =
            ((IEnumerable<TipoMetodoPago>)Enum.GetValues(typeof(TipoMetodoPago)))
            .Select(m => m.ToString()).ToList();

    @* Por defecto el método de pago selecionado es Tarjeta. *@
    private string metodoPagoSeleccionado = "TarjetaCredito";

    @* Detalles de la factura creada. *@
    private DetallePedidoDTO details;

    // Se ejecutará al cargarse la página.
    protected override async Task OnInitializedAsync()
    {
        @* Cargar los datos de los portátiles que incluye la pedido. *@
        BuscarPortatiles();
        bool parsed = Enum.TryParse(metodoPagoSeleccionado, out TipoMetodoPago metodoPago);
        if (parsed) estadoPedido.Pedido.TipoMetodoPago = metodoPago;
        else estadoPedido.Pedido.TipoMetodoPago = TipoMetodoPago.TarjetaCredito;
        estadoPedido.SetCodigoEmpleado(codEmpleado);
    }

    @* Cada vez que se seleciona un método de pago en el desplegable se actualiza la pedido. *@
    private void ActualizarMetodoPago()
    {
        bool parsed = Enum.TryParse(metodoPagoSeleccionado, out TipoMetodoPago metodoPago);
        if (parsed) estadoPedido.Pedido.TipoMetodoPago = metodoPago;
        else estadoPedido.Pedido.TipoMetodoPago = TipoMetodoPago.TarjetaCredito;
    }

    // Hacer el filtro.
    protected async void BuscarPortatiles()
    {
        Portatiles = estadoPedido.Pedido.LineasPedido;

        @* Se indica que los datos han cambiado y por lo tanto la IU se debe actualizar. *@
        StateHasChanged();
    }

    @* Crear la pedido y navegar a detalles. *@
    private async Task CreatePedido()
    {


        @* Gestión de errores con try/catch: si no devuelve Ok devolverá una excepción. *@
        @* Realmente las situaciones que hacen que se devuelve BadRequest al crear la pedido
           no son posibles porque lo evitamos en la vista. *@
        try
        {
            @* Primero guardo la pedido llamando al método create del controlador. *@
            details = await swaggerClient.CreatePedidoAsync(estadoPedido.Pedido);
            @* Borrar el carrito *@
            estadoPedido.FinalizarPedido();

            Navigation.NavigateTo($"/portatiles/reabastecer/detallepedido?PedidoId={details.Id}");
        }
        catch (ApiException<ValidationProblemDetails> apiexceptionvalidation)
        {
            @* Este es el título de la sección de errores que deseamos. *@
            tituloError = "Ha habido un problema al procesar tu pedido.";

            if (apiexceptionvalidation.Result.Errors.Values != null)
            {
                mensajeError = "";
                foreach (var errors in apiexceptionvalidation.Result.Errors.Values)
                    //https://learn.microsoft.com/en-us/dotnet/api/system.string.join?view=net-7.0
                    mensajeError = string.Join("(*) ", mensajeError, string.Join(" (*) ", errors));
            }
            @* Se indica que los datos han cambiado y por lo tanto la IU se debe actualizar. *@
            StateHasChanged();
        }
        catch (ApiException apiexception)
        {
            @* Este es el título de la sección de errores que deseamos. *@
            tituloError = "Ha habido un problema al procesar tu pedido.";
            mensajeError = "Por favor,inténtalo más tarde.";
            @* Se indica que los datos han cambiado y por lo tanto la IU se debe actualizar. *@
            StateHasChanged();
        }
    }

    @* Volver a la pantalla anterior conservando los datos para poder modificar la pedido. *@
    private void Volver()
    {
        Navigation.NavigateTo("/portatiles/reabastecer");
    }

    @* Actualiza la cantidad del portátil en el carrito. *@
    private void ActualizaCantidad(int id, ChangeEventArgs args)
    {
        int cantidad = (int)Int32.Parse((string)args.Value);

        if (cantidad != null)
            estadoPedido.UpdateCarrito(id, cantidad);

        @* Si hay algún portátil con cantidad 0 no se activa el botón de finalizar la pedido. *@
        completarButtonDisabled = (estadoPedido.Pedido.LineasPedido.Any(li => li.Cantidad == 0) ? true : false);
    }

    @* Actualiza la dirección de entrega del pedido. *@
    private void ActualizaDireccion(ChangeEventArgs args)
    {
        string direccion = (string)args.Value;
        estadoPedido.SetDireccion(direccion);
    }

    @* Actualiza el comentarios del pedido. *@
    private void ActualizaComentarios(ChangeEventArgs args)
    {
        string comentarios = (string)args.Value;
        estadoPedido.SetComentarios(comentarios);
    }

}
